@use "./partials/mixins" as *;

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  color: rgb(41, 39, 39);
  background-color: rgb(209, 205, 205);
}

* {
  margin: 0;
  box-sizing: border-box;
}

main > * {
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  @include tablet {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

a {
  text-decoration: none;
  color: #95e78a;
  font-weight: bold;
}

/* ------------------------------- Hero Styles ------------------------------ */

.hero-container {
  height: 70vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/hero-cat.jpg);
  background-size: cover;
  @include tablet {
    height: 30vw;
  }
}

h1 {
  font-size: 1rem;
  @include tablet {
    font-size: 1.5rem;
  }
}

.hero {
  color: white;
  width: 100%;
  @include tablet {
    text-align: center;
  }
}

.hero-text {
  font-size: 1.5rem;
  @include tablet {
    font-size: 2.5rem;
    line-height: 60px;
  }
}

.hero-subheader {
  font-size: 1.25rem;
  font-weight: lighter;
  @include tablet {
    font-size: 1.8rem;
    line-height: 60px;
  }
}

/* ------------------------------- Form Styles ------------------------------ */

.test-container {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.form-title-wrapper {
  width: 100%;
  margin-bottom: 1rem;
  @include tablet {
    max-width: 600px;
  }
}

.secondary-h2 {
  font-style: italic;
  font-weight: lighter;
  font-size: 1.25rem;
}

.form-container {
  display: flex;
}

.form-section {
  flex: 1;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;

  &__hidden {
    display: none;
  }
}

button {
  width: 200px;
  height: 50px;
  margin: 1rem auto;
  font-size: 1rem;
  background-color: #95e78a;
  border: 1px solid #474747;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #474747;
    color: #ffffff;
  }

  &:active {
    transform: scale(0.95);
  }
}

.input-wrap {
  display: flex;
  border: 0.2px solid #474747;
  border-radius: 5px;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(71, 71, 71, 0.4), 0 8px 16px rgba(71, 71, 71, 0.2);
  margin: 5px 5px;
  & > * {
    margin: 1rem 1rem;
  }
}

input {
  appearance: none;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  background-color: #fff;

  &:checked {
    background-color: whitesmoke;

    &:before {
      content: "";
      position: absolute;
      left: 4px;
      top: 3px;

      width: 20px;
      height: 20px;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M226.5 92.9c14.3 42.9-.3 86.2-32.6 96.8s-70.1-15.6-84.4-58.5s.3-86.2 32.6-96.8s70.1 15.6 84.4 58.5zM100.4 198.6c18.9 32.4 14.3 70.1-10.2 84.1s-59.7-.9-78.5-33.3S-2.7 179.3 21.8 165.3s59.7 .9 78.5 33.3zM69.2 401.2C121.6 259.9 214.7 224 256 224s134.4 35.9 186.8 177.2c3.6 9.7 5.2 20.1 5.2 30.5l0 1.6c0 25.8-20.9 46.7-46.7 46.7c-11.5 0-22.9-1.4-34-4.2l-88-22c-15.3-3.8-31.3-3.8-46.6 0l-88 22c-11.1 2.8-22.5 4.2-34 4.2C84.9 480 64 459.1 64 433.3l0-1.6c0-10.4 1.6-20.8 5.2-30.5zM421.8 282.7c-24.5-14-29.1-51.7-10.2-84.1s54-47.3 78.5-33.3s29.1 51.7 10.2 84.1s-54 47.3-78.5 33.3zM310.1 189.7c-32.3-10.6-46.9-53.9-32.6-96.8s52.1-69.1 84.4-58.5s46.9 53.9 32.6 96.8s-52.1 69.1-84.4 58.5z"/></svg>');
      background-size: cover;
      background-position: center;
    }
  }
}

.btn-wrapper {
  display: flex;
}

/* ------------------------------ Match Styles ------------------------------ */

.result-container {
  display: flex;
  margin: 2rem auto;
}

.display-result {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: baseline;
  @include tablet {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

.result-card {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
  padding: 2rem;
  background-color: #474747;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(71, 71, 71, 0.4), 0 8px 16px rgba(71, 71, 71, 0.2);
  & > * {
    margin-bottom: 1rem;
  }

  &__image {
    margin: 1rem auto;
  }

  &__title {
    text-align: center;
  }
}

.no-match-animation {
  border: none;
  height: 500px;
}

.warning {
  text-align: center;
}
